# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "7fc65e6058cca76725d78ae70c5489fa"
name = "Banana Try-On"
application_url = "https://banana-try-on-app.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products"

[auth]
redirect_urls = [
  "https://banana-try-on-app.vercel.app/auth/callback",
  "https://banana-try-on-app.vercel.app/auth/shopify/callback",
  "https://banana-try-on-app.vercel.app/auth"
]

[app_proxy]
url = "https://banana-try-on-app.vercel.app/api"
subpath = "banana-tryon"
prefix = "apps"
